version: '3.8'

services:
  app:
    build: .
    ports:
      - '8091:8080'
    environment:
      - NODE_ENV=public
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5555
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
    depends_on:
      - db

  db:
    image: postgres:13
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=mydatabase
    ports:
      - '5555:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
